@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SISTEMA DE INVENTARIO</h1>
    <p class="lead">ASP.NET es un marco web gratuito para crear excelentes sitios web y aplicaciones web utilizando HTML, CSS y JavaScript..</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Aprende Mas &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>EMPEZANDO</h2>
        <p>
            ASP.NET MVC le ofrece una forma poderosa y basada en patrones de crear sitios web dinámicos que
            permite una separación limpia de preocupaciones y le brinda un control total sobre el marcado
            para un desarrollo ágil y agradable.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Aprende Mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>OBTENGA MAS BIBLIOTECAS</h2>
        <p>NuGet es una extensión gratuita de Visual Studio que facilita la adición, eliminación y actualización de bibliotecas y herramientas en proyectos de Visual Studio.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Aprende Mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ALOJAMIENTO WEB</h2>
        <p>Puede encontrar fácilmente una empresa de alojamiento web que ofrezca la combinación adecuada de características y precio para sus aplicaciones..</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Aprende Mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>JABIER FERNANDO PRIETO CHAPARRO</h2>
        <p>ESTUDIANTE PROGRAMACION SISTEMAS DE INFORMACION. --PROYECTO Porfin2184595--.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301877">Yo Aprendo Cada Dia Mas &raquo;</a></p>
    </div>
</div>